<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <div class="landing-page">
        <h1>⭐ Welcome!</h1>
        <p>How would you like to continue?</p>
        <div class="landing-actions">
            <a href="/guest" class="add-btn">Login as Guest</a>
            <a href="/login" class="add-btn">Login as Admin</a>
        </div>
    </div>

</body>
</html>